.wrapper {
  grid-area: small-preview;
  background-color: #fff;
  padding: 8px;
}
.list_wrapper {
  display: flex;
  /* column-gap: 5px; */
  max-height: 160px;
  overflow-x: scroll;
}

.preview_wrapper {
  width: 194px;
  min-width: 194px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow: hidden;
  transition: background-color 0.3s;
  cursor: pointer;
}
.preview_wrapper.selected {
  background-color: #6583ee33;
}
.preview_wrapper:hover {
  background-color: #6583ee33;
}
.image {
  object-fit: contain;
  height: 100px;
  margin-right: 0;
  margin-bottom: 2px;
}
.info_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.name {
  font-size: 14px;
  word-break: break-all;
  display: -webkit-box;
  overflow: hidden;
  color: #3e5463;
  width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
.name.original {
  -webkit-line-clamp: 3;
}
.size {
  font-weight: 600;
  color: #3e5463;
  margin-right: 20px;
}

@media (max-width: 744px) {
  .wrapper {
    width: 100%;
    height: calc(100vh - 74px);
    overflow: hidden;
    padding-bottom: 30px;
  }
  .list_wrapper {
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    overflow: scroll;
  }

  .preview_wrapper {
    width: 100%;
  }
  .preview_wrapper:last-child {
    width: 100%;
  }
  .name {
    -webkit-box-orient: vertical;
    white-space: wrap;
  }
  .image {
    height: auto;
    width: 100%;
  }
}
