.image_wrapper {
  grid-area: large-preview;
  padding: 8px;
  max-height: calc(100vh - 277px); /* Значение 277 подобрано на глаз */
  background-color: #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 744px) {
  .image_wrapper {
    display: none;
  }
}
