.flip {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 10px;
}

.flip__button,
.flip input {
	cursor: pointer;
	background-color: transparent;
}

.flip__button {
	grid-column: 1/4;
}

.flip__title {
	grid-column: 1/4;
	font-size: 24px;
}

.flip__preloadFile {
	border: 1px solid;
	background-image: url('./../../../drag_drop.svg');
	object-fit: cover;
	background-position: center;
	overflow: hidden;
	background-size: 50%;
	background-repeat: no-repeat;
	flex-basis: 100%;
	min-height: 75vh;
	cursor: grab;
}

.flip__preloadFile img {
	max-width: 100%;
	min-height: auto;
	object-fit: cover;
	min-height: 100%;
}

.flip__form {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.flip__wrapperInputs {
	flex-basis: 100%;
}

@media screen and (min-width: 768px) {
	.flip__preloadFile {
		flex-basis: 70%;
	}

	.flip__form {
		grid-column: 1/4;
		grid-row: 2/4;
	}

	.flip__wrapperInputs {
		flex-basis: 25%;

	}

	h2.flip__title {
		grid-column: 1/4;
		grid-row: 1/2;
		font-size: 36px;
	}
}


.flip__form button[type="submit"],
.flip__form button[type="reset"],
.flip__form input[type="file"],
.flip__loadButton,
.flip__labelFile {
	display: flex;
	min-width: 100%;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	background-color: white;
	min-height: 50px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	border: 1px solid black;
	padding: 10px;

}

.flip__form input[type="file"].flip__chooseFile {
	display: none;
}

.flip button.flip__loadButton {
	background-color: black;
	color: white;
	transition: 0.3s ease-in-out;
}

.flip button.flip__loadButton:hover {
	background-color: white;
	color: black;
}


.flip__labelFile:hover,
.flip__form button[type="submit"]:hover,
.flip__form button[type="reset"]:hover {
	background-color: black;
	color: white;
}

.flip__form input[type="file"] {
	margin-bottom: 20px;
}

.flip__form button[type="submit"],
.flip__form button[type="reset"] {
	margin-bottom: 10px;
	min-width: 100%;
}

.flip__fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.flip__label,
.flip__legend,
.flip__title,
.flip__fieldset input,
.flip__fieldset button,
.flip__labelFile,
.flip button,
.flip input {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.flip__legend {
	font-size: 16px;
}

.flip__label,
.flip__fieldset input,
.flip__fieldset button {
	font-size: 14px;
	font-weight: 400;
}

.flip__fieldset {
	display: grid;
}

.flip__fieldset div {
	display: flex;
	align-items: center;
}