.wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.tab_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.label {
  color: #1c2b36;
  cursor: pointer;
  transition: all 0.3s;
}
.input:checked + label {
  color: #186ade;
}
.input:focus + label {
  color: #186ade;
}
.border_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #dce3e8;
}
.active_border {
  background-color: #186ade;
  position: absolute;
  height: 100%;
  transition: all 0.3s;
}
