.sidebar {
  grid-area: settings;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 2px;
  position: relative;
}
.controls_wrapper {
  height: calc(100% - 80px);
  margin-bottom: auto;
}

.load_buttons_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
