.fileList {
  width: 20%;
  overflow-y: scroll;
  overflow-x: hidden;

  &__wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.tabs {
  height: 50px;

  &__wrapper {
    display: flex;
    gap: 5px;
    padding: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__wrapper::-webkit-scrollbar {
    width: 0;
  }

  &__item {
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;

    &_active {
      background: dodgerblue;
    }
  }

  &__item:hover {
    background: lightsalmon;
  }
}