.wrapper {
  display: flex;
  height: 100vh;
}
.image_wrapper {
  width: 50%;
  height: 100%;
  background-color: darkgray;
  min-height: 500px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.controls_wrapper {
  width: 50%;
  margin: 10px;
}

.input_wrapper {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.input_wrapper > p {
  margin-bottom: 2px;
}
.input_file {
  cursor: pointer;
}

.file_button {
  background-color: gray;
  border: none;
  outline: none;
  padding: 5px;
  transition: all 0.3s;
  width: 200px;
}
.file_button:hover {
  background-color: beige;
}

.file_label {
  display: none;
}

.setting_input {
  display: block;
  width: 200px;
  background-color: gray;
  outline: none;
  border: none;
  padding: 5px;
}
.setting_input::placeholder {
  color: #000;
}
