/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #9fb1bd;
  background-color: #ffffff;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  font-size: 14px;
  color: #1c2b36;
}
/* On mouse-over, add a grey background color */
.container:hover > .checkmark {
  border-color: #7a909e;
}

/* When the checkbox is checked, add a blue background */
.input:checked ~ .checkmark {
  background-color: #2196f3;
}

.input:disabled ~ .checkmark {
  border-color: #5b728266;
}
.input:disabled ~ .text {
  color: #5b728280;
}

.input:focus ~ .text {
  color: #186ade;
}
.input:focus ~ .checkmark {
  border-color: #186ade;
}
