.photo {
  max-width: 60%;
  height: 50%;
  position: relative;
}

.before {
  max-width: 100%;
  z-index: 2;

  &__img {
    object-position: center;
    max-height: 300px;
  }

  &_processed {
    position: absolute;
    overflow: hidden;
  }
}

.resize {
  position: absolute;
  z-index: 2;
  width: 1px;
  background: white;
  height: 100%;
  right: 50%;
  left: 50%;
  top: 0;
  cursor: e-resize;

  &_notProcessed {
    display: none;
  }
}

.after {
  display: flex;
  justify-content: center;
  object-position: center;
  width: 100%;

  &__img {
    object-position: center;
    max-height: 300px;
  }
}