.processingPhoto {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 70%;
  }

  &__photo {
    max-width: 100%;
    object-fit: contain;
  }
}
